<div class="add-comment contact-form boxed view">
  <div class="comment-form">
    <div class="add-comment-title"><h3>Glukose Cloud Dashboard</h3></div>
    <div class="form-inner">
      <table id="datatable-measures" class="display" cellspacing="0" width="100%">
        <thead>
        <!-- Column Table bar -->
        <tr>
          <th class='measure.value' data-hide="phone">Value mg/dL</th>
          <th class='measure.date' data-hide="phone">Date</th>
        </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
