<!-- Menu Content -->
<div class="header">
  <div class="row">
    <div class="col-lg-3">
      <!-- Main Menu -->
      <div class="dropdown-wrap boxed-velvet">
        <ul class="dropdown inner clearfix">
          <li class="menu-level-0 first last">
            <img src="styles/images/glukose_logo.svg" alt="Glukose Logo" height="90px" width="250px">
            <!--<a ui-sref="app.dashboard"><i class="glyphicon glyphicon-home"></i><span>Glukose</span></a>-->
          </li>
          <!--<li class="menu-level-0 parent"><a href="javascript:void(0)"><i class="glyphicon glyphicon-file"></i><span>Master</span></a>
            <ul class="submenu-1">
              <li class="menu-level-1"><a ui-sref="app.product">Product</a></li>
              <li class="menu-level-1"><a ui-sref="app.client">Client</a></li>
            </ul>
          </li>-->
          <!--<li class="menu-level-0 last"><a href="javascript:void(0)"><i class="glyphicon glyphicon-th-list"></i><span>Warehouse</span></a>
            <ul class="submenu-1">
              <li class="menu-level-1"><a ui-sref="app.stock">Stock Manager</a></li>
            </ul>
          </li>-->
        </ul>
      </div>
      <!--/ Main Menu -->
    </div>
    <div class="col-lg-5">
      <!-- Device Information -->
      <div class="widget-container widget_recent_entries boxed-velvet" style="padding-top: 3px; padding-left: 3px; padding-bottom: 3px;">
        <h3 class="widget-title" style="margin-bottom: 0px;">Patient name:
          <select class="device-selector" ng-options="device.ptname for device in devices" ng-model="device" ng-change="onDeviceChange(device)"/>
        </h3>
        <h3 class="widget-title" style="margin-bottom: 0px;">Serial number: <span style="color: rgb(234, 144, 73);">{{device.serlnum}}</span> </h3>
        <h3 class="widget-title" style="margin-bottom: 0px;">Last update: <span style="color: rgb(234, 144, 73);">{{device.date | date:'short'}}</span> </h3>
      </div>
      <!--/ Device Information -->
    </div>
    <div class="col-lg-4">
      <!-- User Menu -->
      <div class="dropdown-wrap boxed-velvet pull-right">
        <ul class="dropdown inner clearfix">
          <li class="menu-level-0 first"><a href="javascript:void(0)"><i class="glyphicon glyphicon-cog"></i><span>Settings</span></a>
            <ul class="submenu-1">
              <li class="menu-level-1"><a href="javascript:void(0)">Privacy Policy</a></li>
              <li class="menu-level-1"><a href="javascript:void(0)">Copyright</a></li>
              <li class="menu-level-1"><a href="javascript:void(0)">Terms of Service</a></li>
            </ul>
          </li>
          <li class="menu-level-0 last">
            <a href="javascript:void(0)"><span>Log Out</span></a>
          </li>
        </ul>
      </div>
      <!--/ User Menu -->
    </div>
  </div>
</div>
<!-- Main Content -->
<div data-ui-view="root" data-autoscroll="false"></div>

